.submenu {
  display: none;
  margin-left: 1em;
}
.submenu.open {
  display: block;
}
.toggle {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-right: 0.5em;
}
body {
  border: 5px solid red;
}
